<b-overlay class="w-100 h-100" spinner-variant="light" variant="primary" :show="loading">
    <div class="text-center p-2">
        <div>
            <p class="mt-4 mb-2">Días en los que se ejecutará la validación de egresos</p>
            <div class="d-flex justify-content-center">
                <template v-for="(dia, index) in diasOptions">
                    <b-button class="mr-1 p-0 rounded-circle text-center" 
                        style="width: 40px; height: 40px;"
                        :variant="diaIsSelected(dia.value) ? 'primary' : 'outline-secondary'"
                        @click="toggleDia(dia.value)"
                    >\{{dia.text}}</b-button>
                </template>
            </div>
            <p class="mt-4 mb-2">Horario de inicio</p>
            <div class="d-flex justify-content-center mb-5">
                <b-overlay rounded variant="light" :show="cambiarHora || cambiarMinuto" @shown="focusInput">
                    <template #overlay>
                        <b-form @submit.prevent="cambiarHora = false" v-if="cambiarHora">
                            <b-form-input ref="inputHora" class="bg-secondary text-light text-center border-secondary" v-model="scheduler.horaInicio" style="font-size: 2rem;"></b-form-input>
                        </b-form>
                        <b-form @submit.prevent="cambiarMinuto = false" v-else>
                            <b-form-input ref="inputMinuto" class="bg-secondary text-light text-center border-secondary" v-model="scheduler.minutoInicio" style="font-size: 2rem;"></b-form-input>
                        </b-form>
                    </template>
                    <div class="d-flex p-2 align-items-center">
                        <b-button-group vertical>
                            <b-button @click="scheduler.horaInicio++">
                                <b-icon-chevron-compact-up></b-icon-chevron-compact-up>
                            </b-button>
                            <b-button style="font-size: 2rem;" @click="cambiarHora = true">
                                \{{scheduler.horaInicio}}
                            </b-button>
                            <b-button @click="scheduler.horaInicio--">
                                <b-icon-chevron-compact-down></b-icon-chevron-compact-down>
                            </b-button></b-button>
                        </b-button-group>
                        <div class="p-2">
                            <b-icon-dot class="d-block"></b-icon-dot>
                            <b-icon-dot class="d-block"></b-icon-dot>
                        </div>
                        <b-button-group vertical>
                            <b-button @click="scheduler.minutoInicio++">
                                <b-icon-chevron-compact-up></b-icon-chevron-compact-up>
                            </b-button>
                            <b-button style="font-size: 2rem;"@click="cambiarMinuto = true">
                                \{{scheduler.minutoInicio}}
                            </b-button>
                            <b-button @click="scheduler.minutoInicio--">
                                <b-icon-chevron-compact-down></b-icon-chevron-compact-down>
                            </b-button></b-button>
                        </b-button-group>
                    </div>
                </b-overlay>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <b-button variant="primary" @click="guardarConfiguracionAPI">Guardar Configuración</b-button>
        </div>
    </div>
</b-overlay>