<b-table small responsive hover bordered class="mb-0 rounded" :fields="campos_items" :items="items"
    head-variant="dark" foot-variant="light" foot-clone>
    <template #head(nombreProducto)="head">
        <div class="px-2">\{{ head.label }}</div>
    </template>
    <template #head(precio)="head">
        <div class="px-2">\{{ head.label }}</div>
    </template>
    <template #head(cantidad)="head">
        <div class="px-2">\{{ head.label }}</div>
    </template>

    <template #cell(nombreProducto)="row">
        <b-form-input class="border-0 px-2 bg-transparent" v-model="row.item.nombreProducto" @input="addItem"></b-form-input>
    </template>
    <template #cell(precio)="row">
        <b-form-input class="border-0 px-2 bg-transparent text-center" v-model="row.item.precio" @input="addItem"></b-form-input>
    </template>
    <template #cell(cantidad)="row">
        <b-form-input class="border-0 px-2 bg-transparent text-center" v-model="row.item.cantidad" @input="addItem"></b-form-input>
    </template>
    <template #cell(delete)="row">
        <b-button variant="outline" class="px-2 m-0 text-danger" @click="deleteItem(row.index)">
            <b-icon-x></b-icon-x>
        </b-button>
    </template>
</b-table>