<div class="container-fluid">
    <div class="row mb-4 mx-2">
        <div class="col-4 text-right py-2">
            <span class="mr-2"><strong>Organización</strong></span>
        </div>
        <div class="col bg-light p-2">
            <span class="ml-2">NombreOrganización</span>
        </div>
    </div>

    <div class="row mb-4 mx-2">
        <div class="col-4 text-right py-2">
            <span class="mr-2"><strong>Fecha Operación</strong></span>
        </div>
        <div class="col">
            <b-form-datepicker id="operacion-datepicker" class="mb-2"></b-form-datepicker>
        </div>
    </div>
    <div class="row mb-4 mx-2 justify-content-between">
        <div class="col-4 text-right py-2">
            <span class="mr-2"><strong>Proveedor</strong></span>
        </div>
        <div class="col">
            <b-dropdown id="dropdown-1" text="Seleccionar proveedor">
                <b-dropdown-item>First Action</b-dropdown-item>
                <b-dropdown-item>Second Action</b-dropdown-item>
                <b-dropdown-item>Third Action</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item active>Active action</b-dropdown-item>
                <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="col">
            <b-button variant="outline-primary">Agregar uno nuevo</b-button>
        </div>
    </div>
    <div class="row mb-4 mx-2 justify-content-between">
        <div class="col-4 text-right py-2">
            <span class="mr-2"><strong>Medio de Pago</strong></span>
        </div>
        <div class="col">
            <b-dropdown id="dropdown-1" text="Seleccionar medio">
                <b-dropdown-item>First Action</b-dropdown-item>
                <b-dropdown-item>Second Action</b-dropdown-item>
                <b-dropdown-item>Third Action</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item active>Active action</b-dropdown-item>
                <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="col">
            <b-button variant="outline-primary">Agregar uno nuevo</b-button>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-4 text-right py-2">
            <span class="mr-2"><strong>Documento comercial</strong></span>
        </div>
        <div class="col">
            <div class="py-2 container-fluid border border-secondary rounded">
                <div class="row mb-3 mx-2">
                    <div class="col-4 text-right py-2">
                        <span class="mr-2"><strong>Tipo</strong></span>
                    </div>
                    <div class="col">
                        <b-dropdown id="dropdown-1" text="Seleccionar tipo">
                            <b-dropdown-item>First Action</b-dropdown-item>
                            <b-dropdown-item>Second Action</b-dropdown-item>
                            <b-dropdown-item>Third Action</b-dropdown-item>
                            <b-dropdown-divider></b-dropdown-divider>
                            <b-dropdown-item active>Active action</b-dropdown-item>
                            <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                        </b-dropdown>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-4 text-right py-2">
                        <span class="mr-2"><strong>Número documento</strong></span>
                    </div>
                    <div class="col">
                        <b-form-input placeholder="Ingrese número de documento"></b-form-input>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-4 text-right py-2">
                        <span class="mr-2"><strong>Fecha de Pedido</strong></span>
                    </div>
                    <div class="col">
                        <b-form-datepicker id="doc-comercial-pedido-datepicker" class="mb-2"></b-form-datepicker>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-4 text-right py-2">
                        <span class="mr-2"><strong>Fecha de Entrega</strong></span>
                    </div>
                    <div class="col">
                        <b-form-datepicker id="doc-comercial-entrega-datepicker" class="mb-2"></b-form-datepicker>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-4 text-right py-2">
                        <span class="mr-2"><strong>Descripción</strong></span>
                    </div>
                    <div class="col">
                        <b-col sm="10" class="px-0 mx-0">
                            <b-form-textarea id="doc-comercial-descripcion" size="sm" placeholder="Breve descripción">
                            </b-form-textarea>
                        </b-col>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    </div>
            <div class="col bg-light p-2">
              <span class="ml-2">We'll see...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>