<b-table-simple small responsive striped class="mb-0">
    <b-thead head-variant="light">
        <b-tr>
            <b-th colspan="1">Proveedor</b-th>
            <b-th colspan="1">Medio de Pago</b-th>
            <b-th colspan="1">Documento Comercial</b-th>
        </b-tr>
    </b-thead>
    <b-tbody>
        <b-tr>
            <b-td colspan="1">
                <b-table small responsive striped class="mb-0" :fields="campos_proveedor" :items="data.item.detalle.items_proveedor"
                    head-variant="light">
                    <template #cell(see_more)="data">
                        <b-button size="sm" v-on:click="data.see_more" variant="outline-primary">Ver detalle
                        </b-button>
                    </template>
                </b-table>
            </b-td>
            <b-td colspan="1">
                <b-table small responsive striped class="mb-0" :fields="campos_mediodepago" :items="data.item.detalle.items_mediodepago"
                    head-variant="light">
                    <template #cell(see_more)="data">
                        <b-button size="sm" v-on:click="data.see_more" variant="outline-primary">Ver detalle
                        </b-button>
                    </template>
                </b-table>
            </b-td>
            <b-td colspan="1">
                <b-table small responsive striped class="mb-0" :fields="campos_documentocomercial"
                    :items="data.item.detalle.items_documentocomercial" head-variant="light">
                    <template #cell(see_more)="data">
                        <b-button size="sm" v-on:click="data.see_more" variant="outline-primary">Ver documento
                        </b-button>
                    </template>
                </b-table>
            </b-td>
        </b-tr>
    </b-tbody>
</b-table-simple>
<b-table-simple small responsive striped class="mb-0">
    <b-thead head-variant="light">
        <b-tr>
            <b-th colspan="1">Items</b-th>
        </b-tr>
    </b-thead>
    <b-tbody>
    </b-tbody>
</b-table-simple>
<b-table small responsive striped class="mb-0" :fields="campos_itemsegreso" :items="data.item.detalle.items_itemsegreso"
    head-variant="light" foot-clone>
    <!-- A custom formatted footer cell for field 'name' -->
    <template #cell(price)="data">
        <span>\{{ "$" + data.item.price }}</span>
    </template>
    <template #foot(name)="data">
        <span class="text-danger">Total</span>
    </template>
    <template #foot(price)="row">
        <span class="text-danger">\{{ "$" + data.item.total }}</span>
    </template>
    <template #foot(quantity)="data"><i></i>
    </template>
</b-table>
<b-table-simple small responsive striped class="mb-0">
    <b-tbody>
    </b-tbody>
    <b-tfoot>
        <b-tr>
            <b-td colspan="2" variant="secondary">
                <b-button variant="outline-primary">
                    Ver ingreso asociado
                </b-button>
            </b-td>
            <b-td colspan="2" variant="secondary">
                <b-button variant="outline-primary">
                    Presupuestos asociados
                </b-button>
            </b-td>
            <b-td colspan="4" variant="secondary">
            </b-td>
        </b-tr>
    </b-tfoot>
</b-table-simple>