<!-- template para proveedor -->
<div>
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Nombre</strong></span>
        </div>
        <div class="col px-2">
            <b-form-input placeholder="Ingrese nombre del proveedor" v-model="proveedor.nombre"></b-form-input>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Documento</strong></span>
        </div>
        <div class="col px-2">
            <b-form-input placeholder="Ingrese documento del proveedor" v-model="proveedor.documento"></b-form-input>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Dirección Postal</strong></span>
        </div>
        <div class="col p-2">
            <div class="p-2 container-fluid border border rounded">
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Pais</strong></span>
                    </div>
                    <div class="col">
                        <b-form-select v-model="proveedor.direccionPostal.pais" :options="paises">
                            <template #first>
                                <b-form-select-option :value="null" disabled>-- Selecciona un país --</b-form-select-option>
                            </template>
                        </b-form-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Provincia</strong></span>
                    </div>
                    <div class="col">
                        <b-form-select v-model="proveedor.direccionPostal.provincia" :options="provincias">
                            <template #first>
                                <b-form-select-option :value="null" disabled>-- Selecciona una provincia --</b-form-select-option>
                            </template>
                        </b-form-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Ciudad</strong></span>
                    </div>
                    <div class="col">
                        <b-form-select v-model="proveedor.direccionPostal.ciudad" :options="ciudades">
                            <template #first>
                                <b-form-select-option :value="null" disabled>-- Selecciona una ciudad --</b-form-select-option>
                            </template>
                        </b-form-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Calle</strong></span>
                    </div>
                    <div class="col">
                        <b-form-input placeholder="Ingrese calle" v-model="proveedor.direccionPostal.calle"></b-form-input>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Altura</strong></span>
                    </div>
                    <div class="col">
                        <b-form-input placeholder="Ingrese altura" v-model="proveedor.direccionPostal.altura"></b-form-input>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Piso</strong></span>
                    </div>
                    <div class="col">
                        <b-form-input placeholder="Ingrese piso" v-model="proveedor.direccionPostal.piso"></b-form-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Codigo Postal</strong></span>
                    </div>
                    <div class="col">
                        <b-form-input placeholder="Ingrese codigo postal" v-model="proveedor.direccionPostal.codigoPostal"></b-form-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-4">

        </div>
        <div class="col d-flex justify-content-between px-2">
            <b-button-group>
                <b-button variant="primary" @click="confirmarAccion(proveedor)">Confirmar</b-button>
                <b-button variant="outline-dark" @click="cancelarAccion">Cancelar</b-button>
            </b-button-group>
        </div>
    </div>
</div>