<div>
    <p>Seleccione el Ingreso para asociar a este Egreso</p>
    <b-input-group class="my-2" style="flex-wrap: nowrap">
        <b-input-group-prepend>
            <b-button variant="outline" class="border-secondary" 
            ><b-icon-search></b-icon-search></b-button>
        </b-input-group-prepend>
        <b-form-input class="border-secondary" placeholder="Buscar Ingreso"></b-form-input>
    </b-input-group>
    <b-overlay spinner-variant="primary" :show="ingresosLoading" rounded="sm">
        <b-form-select class="border-secondary" :options="ingresosSelect" v-model="ingresoSelected">
            <template #first>
                <b-form-select-option :value="null" disabled>-- Selecciona un Ingreso --</b-form-select-option>
            </template>
        </b-form-select>
    </b-overlay>
    <b-button-group class="mt-5">
        <b-button variant="primary" @click="confirmarAccion(ingresoSelected)">Confirmar</b-button>
        <b-button variant="outline-dark" @click="cancelarAccion">Cancelar</b-button>
    </b-button-group>
</div>