#user-content{
    position: absolute;
    right: 0px;
    top: 57px;
    z-index: 500;
}
#search-wrapper {
    position: absolute;
    transition: 0.25s all;
    left: calc(15rem - 60px);
    max-width: 400px;
    width: calc(100% - 300px);
    margin-right: 60px;
    margin-left: 60px;
}
#navbar-organizacion{
    transition: 0.25s opacity;
}
@media (max-width: 767px) { 
    #navbar-organizacion.hide-organizacion{
        opacity: 0;
    }
    #search-wrapper.show-search {
        max-width: calc(100% - 120px);
        width: calc(100% - 120px);
        left: 0px;
    }
}
