<div>
    <p>Seleccione categorias para asociar al egreso</p>
    <ul class="list-group">
        <criterio
            v-for="(criterio, index) in criterios"
            :key="index"
            :criterio="criterio"
            :selecciono-categoria="seleccionoCategoria"
        ></criterio>
    </ul>
    <div class="pt-2" v-if="categoriasSeleccionadas.length">
        <span>Categorias seleccionadas: </span>
        <template
            v-for="(categoria, index) in categoriasSeleccionadas"
        >
            <b-badge class="mr-1">\{{ categoria.name }}</b-badge>
        </template>
    </div>
    <div class="row pt-4">
        <div class="col d-flex justify-content-between">
            <b-button-group>
                <b-button variant="primary" @click="confirmarAccion(categoriasSeleccionadas)">Confirmar</b-button>
                <b-button variant="outline-dark" @click="cancelarAccion">Cancelar</b-button>
            </b-button-group>
        </div>
    </div>
</div>