<div class="text-center">
    <link type="text/css" rel="stylesheet" href="http://{{ ip }}/css/login.css"/>
    <form class="form-signin" id="loginForm">
        <img class="mb-4" src="http://{{ ip }}/img/gesoc_logo.png" alt="" width="150" height="150">
        <h1 class="h3 mb-4 font-weight-normal">Por favor inicia sesión</h1>
        <b-overlay spinner-variant="light" variant="primary" rounded="sm" class="p-2" :show="loginLoading">
            <form @submit.prevent="loginAttempt" >
                <b-collapse :visible="userState == false">
                    <p class="text-danger text-left m-0"><span>Completa el campo usuario</span></p>
                </b-collapse>
                <b-form-input class="mb-2" v-model="user" :state="userState" type="text" placeholder="Usuario"></b-form-input>

                <b-collapse :visible="passState == false">
                    <p class="text-danger text-left m-0"><span>Completa el campo contraseña</span></p>
                </b-collapse>
                <b-form-input v-model="pass" :state="passState" type="password" placeholder="Contraseña"></b-form-input>

                <b-collapse :visible="loginState == false" class="mt-2">
                    <p class="text-danger text-left m-0"><span>Usuario y/o contraseña no coinciden</span></p>
                </b-collapse>
                <b-button variant="primary" type="submit" class="mt-4">Iniciar Sesión</b-button>
            </form>
        </b-overlay>
        <p class="mt-5 mb-3 text-muted">© lololol</p>
    </form>
</div>