<div class="row h-100 m-0">
    <b-list-group flush class="col-4 overflow-auto h-100 p-0 border-right" style="max-width: 300px;">
        <b-list-group-item class="d-flex justify-content-between align-items-center" active>Bandeja de mensajes</b-list-group-item>
    </b-list-group>
    <div class="col overflow-auto h-100 p-2 text-center">
        <b-overlay class="container-fluid h-100" spinner-variant="light" variant="primary" :show="loading">
            <div>
                <p class="mt-4 mb-2">Días en los que se ejecutará la validación de egresos</p>
                <div class="d-flex justify-content-center">
                    <template v-for="(dia, index) in diasOptions">
                        <b-button class="mr-1 p-0 rounded-circle text-center" 
                            style="width: 40px; height: 40px;"
                            :variant="diaIsSelected(dia.value) ? 'primary' : 'outline-secondary'"
                            @click="toggleDia(dia.value)"
                        >\{{dia.text}}</b-button>
                    </template>
                </div>
                <p class="mt-4 mb-2">Horario de inicio</p>
                <div class="d-flex justify-content-center pb-5">
                    <div class="d-flex align-items-center">
                        <b-button-group vertical>
                            <b-button @click="schedulerInit.horaInicio++">
                                <b-icon-chevron-compact-up></b-icon-chevron-compact-up>
                            </b-button>
                            <b-button style="font-size: 2rem;">
                                \{{getHora()}}
                            </b-button>
                            <b-button @click="schedulerInit.horaInicio--">
                                <b-icon-chevron-compact-down></b-icon-chevron-compact-down>
                            </b-button></b-button>
                        </b-button-group>
                        <div class="p-2">
                            <b-icon-dot class="d-block"></b-icon-dot>
                            <b-icon-dot class="d-block"></b-icon-dot>
                        </div>
                        <b-button-group vertical>
                            <b-button @click="schedulerInit.minutoInicio++">
                                <b-icon-chevron-compact-up></b-icon-chevron-compact-up>
                            </b-button>
                            <b-button style="font-size: 2rem;">
                                \{{getMinuto()}}
                            </b-button>
                            <b-button @click="schedulerInit.minutoInicio--">
                                <b-icon-chevron-compact-down></b-icon-chevron-compact-down>
                            </b-button></b-button>
                        </b-button-group>
                    </div>
                </div>
            <div class="d-flex justify-content-center">
                <b-button variant="primary" @click="guardarConfiguracionAPI">Guardar Configuración</b-button>
            </div>
        </div>
        </b-overlay>
    </div>
</div>